    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" value="{{this.nome}}" id="floatingInput" placeholder="Nome" name="nome">
            <label for="floatingInput">Nome</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.quantidade}}" placeholder="Quantidade" name="quantidade">
            <label for="floatingInput">Quantidade</label>
        </div>
    </div>

    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Enviar</button>
    </div>